:root {
  --dark-background: #26272c;
  --text-off-white: #efefef;
}

/* Reset CSS */

body,
h1, h2, h3, h4, h5, h6,
p, ul, ol, div {
margin: 0;
padding: 0;
}

body {
  font-family: 'Inter';
  line-height: 1.5;
  color: var(--text-off-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* For overscrolling */
html, body {
  height: 100%;
  background-color: var(--dark-secondary);
}
